@firstPassShadowColor: rgb(5, 31, 216);
@secondPassShadowColor: rgb(0, 128, 33);
@thirdPassShadowColor: rgb(0, 104, 128);
@fourthPassShadowColor: rgb(43, 0, 128);
@fifthPassShadowColor: rgb(128, 0, 27);

.with-box-shadow-outline(@shadowColor) {
	box-shadow: 0px 3px 19px @shadowColor
}

@base-pass-background-color: #e6e6e6;

.pass {
	background-color: @base-pass-background-color;
	border-radius: 7px;
	width: 100%;
	height: 0;
	padding-bottom: 26%;
	position: relative;
	transition: box-shadow .5s;
	box-shadow: none;

	&:not(:last-child) {
		margin-right: 30px;
	}

	& > .content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&.select:hover {
		&:first-child {
			.with-box-shadow-outline(@firstPassShadowColor)
		}

		&:nth-child(2) {
			.with-box-shadow-outline(@secondPassShadowColor);
		}

		&:nth-child(3) {
			.with-box-shadow-outline(@thirdPassShadowColor);
		}

		&:nth-child(4) {
			.with-box-shadow-outline(@fourthPassShadowColor);
		}

		&:last-child {
			.with-box-shadow-outline(@fifthPassShadowColor);
		}
	}
}

.content-test {
	width: 50px;
	height: 100px;
	background-color: red;
	color: #FFF;
}
