@import (reference) "../App/common.less";

#configurator {
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;

	.pagetransition();

	& > .screen {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		/**
		 * This is needed to allow the appearance animation
		 * of the absolute-positioned option bar
		 */
		position: relative;

		/**
		 * This is needed to avoid bottom bar appearance to
		 * make the page scrollable
		 */
		overflow: hidden;
	}

	& > .config-panel {
		display: flex;
		background-color: #1c1c1c;
		flex-shrink: 0;
		width: 300px;
		overflow: hidden;
		animation-name: open-menu;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
		animation-timing-function: ease-in-out;
		box-shadow: -3px 0 10px #2b2b2b;
		position: relative;
		right: -300px;

		@media screen and (max-width: 550px) {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
		}

		@media screen and (max-width: 300px) {
			max-width: 100%;
		}
	}
}

@keyframes open-menu {
	from {
		right: -300px;
	}
	to {
		right: 0px;
	}
}
