#configurator {
	height: 100%;
	width: 100%;
	display: flex;

	& > .screen {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		/**
		 * This is needed to allow the appearance animation
		 * of the absolute-positioned option bar
		 */
		position: relative;

		/**
		 * This is needed to avoid bottom bar appearance to
		 * make the page scrollable
		 */
		overflow: hidden;
	}

	& > .config-panel {
		display: flex;
		background-color: #e6e6e6;
		flex-shrink: 0;
		animation-name: open-menu;
		animation-duration: .8s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
		animation-timing-function: ease-in-out;
		box-shadow: -3px 0 5px #000;
	}
}

@keyframes open-menu {
	from { width: 0; }
	to { width: 300px; }
}
