.options-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 5px 10px;
	box-shadow: -3px -3px 5px #2b2b2b;
	height: 55px;
	position: relative;
	color: #FFF;
}
