.barcode {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	width: 100%;

	/* Using another div to contain fallback barcodes */
	&.none.rect > div {
		width: 100%;
	}

	& > div {
		border-radius: 5px;
		background-color: #FFF;
		padding: 7px;

		& > .fallback {
			background-color: #d2d2d2;

			&.square {
				width: 100px;
				height: 100px;
			}

			&.bar {
				height: 35px;
			}
		}
	}
}
