#modal {

	& > #modal-content.media-collection {
		display: flex;

		z-index: 10;
		position: absolute;
		top: 18%;
		left: 8%;
		right: 8%;
		bottom: 18%;
		color: #e6e6e6;

		& > * {
			background-color: #191919;
			display: flex;
			box-shadow: 0 0 5px 0px #3c3c3c;
		}

		#pass-preview {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			margin-right: 15px;
			flex-grow: 1;
			align-items: center;
			justify-content: center;
		}

		#media-collector {
			flex-basis: 0; // to allow grid resizing through margins
			flex-grow: 2;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			flex-direction: column;

			& > header {
				height: 60px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 10px;

				& nav {
					display: flex;
					justify-content: space-around;
					flex-direction: row;

					& svg.back {
						transition: all .5s ease-in-out;
						opacity: 1;
						width: 25px;
						transform: rotate(180deg);
						fill: #e6e6e6;
						height: 20px;
						cursor: pointer;
					}

					& .back:not(.visible) {
						opacity: 0;
						width: 0;
					}
				}

				& .edit-button {
					&.disabled {
						pointer-events: none;
						color: #646464;
						cursor: initial;
					}

					color: #e6e6e6;
					cursor: pointer;
				}
			}
		}
	}
}
