@import "../../App/common.less";
@grid-gap: 10px;

#modal {
	& > #modal-content.media-collection {
		display: flex;

		z-index: 10;
		position: absolute;
		top: 18%;
		left: 8%;
		right: 8%;
		bottom: 18%;
		color: #e6e6e6;

		& > * {
			background-color: #191919;
			display: flex;
			box-shadow: 0 0 5px 0px #3c3c3c;
		}

		#pass-preview {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			margin-right: 15px;
			flex-grow: 1;
			align-items: center;
			justify-content: center;
		}

		#media-collector {
			flex-basis: 0; // to allow grid resizing through margins
			flex-grow: 2;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			flex-direction: column;

			& > header {
				min-height: 60px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 20px;

				& nav {
					display: flex;
					justify-content: space-around;
					flex-direction: row;

					&.allow-back-nav {
						cursor: pointer;

						& .back ~ span {
							margin-left: 5px;
						}
					}

					&:not(.allow-back-nav) .back {
						opacity: 0;
						transition-delay: .5s, 0s;
						margin-left: -25px;

						& ~ span {
							transition-delay: 0.5ss;
							margin-left: 0;
						}
					}

					& svg.back {
						transition: all .5s ease-in-out,
									opacity .5s ease-in-out .5s;
						opacity: 1;
						width: 25px;
						transform: rotate(180deg);
						fill: #e6e6e6;
						height: 20px;

						& ~ span {
							transition: margin-left .5s ease-in-out .3s;
						}
					}
				}

				& .edit-button {
					&.disabled {
						pointer-events: none;
						color: #646464;
						cursor: initial;
					}

					color: #e6e6e6;
					cursor: pointer;
					min-width: 40px;
					text-align: right;
				}
			}

			& > #grid {
				display: grid;
				column-gap: @grid-gap;
				row-gap: @grid-gap;
				margin: 0 20px;
				justify-items: center;
				grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

				.scrollableWithoutScrollbars(y);
			}
		}
	}
}
