@fieldsSpacing: 5px;

.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 20px;
	width: 100%;
	flex-wrap: wrap;
	overflow: hidden;
	margin-bottom: 15px;

	& > .empty:first-child, & > .empty:last-child {
		width: 40px;
		flex-grow: 0;
	}

	& > *:not(:last-child) {
		margin-right: @fieldsSpacing;
	}

	&.separator {
		border-bottom: 1px solid #d2d2d2;
		padding-bottom: 15px;
	}
}
