@headerHeight: 200px;

#selector-app {
	flex-grow: 1;
	height: 100%;

	& header {
		align-items: center;
		justify-content: center;
		flex-direction: column;
		display: flex;
		flex-shrink: 0;
		height: @headerHeight;
		width: 100%;

		& > h2 {
			color: #FFF;
			font-family: Helvetiva, sans-serif;
			font-size: 1.5em;
			font-weight: 300;
			text-align: center;
		}
	}

	& .selection-window {
		height: calc(~"100vh -" @headerHeight);
		scroll-behavior: smooth;
		overflow-y: scroll;
		scrollbar-width: none; /* Firefox only */

		&::-webkit-scrollbar {
			width: 0;
		}
	}
}

#pass-selection {
	display: flex;
	width: 100%;
    padding: 10px 1%;
	box-sizing: border-box;
	flex-grow: 1;
	height: 410px;
	justify-content: space-evenly;
	transition: opacity .5s ease-in-out;

	&:first-child {
		margin-bottom: 30px;
	}

	&.selected {
		opacity: .5;
		pointer-events: none;
	}

	& div.select {
		width: 100%;
		animation: PassFade .2s ease-in;
		animation-fill-mode: forwards;
		opacity: 0%;
		max-width: 250px;
		/*min-width: 250px; // for mobile??*/
		display: flex;
		flex-direction: column;

		cursor: pointer;
		&:nth-child(2) { animation-delay: .1s }
		&:nth-child(3) { animation-delay: .2s }
		&:nth-child(4) { animation-delay: .3s }
		&:nth-child(5) { animation-delay: .4s }

		&:not(:last-child) {
			margin-right: 3%;
		}

		& > .pass {
			padding-bottom: 0;
			flex-shrink: 0;
			flex-grow: 1;
		}

		& .name {
			text-align: center;
			margin-top: 10px;
			color: #FFF;
		}
	}
}

@keyframes PassFade {
	from { opacity: 0% }
	to { opacity: 100% }
}
