.panel.text {
	padding: 0 5px;
	padding: 10px;

	&:not(:last-child) {
		border-bottom: 1px solid rgba(51, 51, 51, 0.31);
	}

	& > label {
		cursor: pointer;
		display: flex;
		justify-content: space-between;

		& h4 {
			margin: 0;
			font-weight: 400;
			text-transform: uppercase;
			font-size: 14px;
		}

		& .required::after {
			content: "required";
			color: #FFF;
			font-size: 10px;
			background-color: #333;
			padding: 5px 7px;
			border-radius: 2px;
			position: relative;
			bottom: 2px;
		}
	}

	& > input {
		margin-top: 10px;
		background-color: transparent;
		width: 100%;
		outline: none;
		font-size: 14px;
		padding: 7px;
		box-sizing: border-box;
		border: none;
		border-bottom: 1px solid rgba(183, 183, 183, 1);
		transition: border-bottom .5s ease-in-out;

		&::placeholder {
			font-style: italic;
			font-size: 14px;
		}

		&::selection {
			background-color: #333;
			color: #FFF;
		}

		&:focus {
			border-bottom: 1px solid #000;
		}
	}
}
