@import "../../../App/common.less";
@placeholder-color: #5c5c5c;

.collection-editor {
	flex-grow: 2;

	& .item {
		width: 160px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& .clipper {
			width: 160px;
			height: 120px;
			overflow: hidden;
			.withImagesTrasparencyBackground(true);
		}

		& input {
			padding: 7px 0;
			border: 0;
			outline: none;
			border-bottom: 1px solid #313131;
			transition: border-bottom .5s ease-in-out;
			text-align: center;
			background: transparent;
			color: #e6e6e6;
			border-radius: 0;
			font-size: 15px;
			width: 100%;

			&:focus {
				border-bottom-color: #e6e6e6;
			}
		}

		& .add-element-btn {
			width: 100%;
		}
	}
}

.collection-editor ~ footer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9pt;
	color: #616161;
	border-top: 0.5px solid #292929;
	margin-top: 15px;
	height: 50px;
}

.collection-editor.dragOver ~ #drop-area {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s, 0s;
}

.collection-editor ~ #drop-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;

	opacity: 0;
	box-sizing: border-box;
	border-radius: 5px;
	transition:
		opacity .5s ease-in-out,
		visibility 0s linear;
	transition-delay: 0s, .5s;
	border-width: 4px;
	border-style: dashed;
	border-color: #333;
	background-color: rgba(45, 45, 45, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #cacaca;
	cursor: pointer;
	margin: 10px;
	visibility: hidden;

	& > span {
		/* To avoid flicker effect while dragging over the text*/
		pointer-events: none;
	}
}
