.panel.image {
	padding: 10px;

	&:not(:last-child) {
		border-bottom: 1px solid #1c1c1c;
	}

	& > h4 {
		margin: 0;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 14px;
		color: #e6e6e6;
		user-select: none;
		-webkit-user-select: none;
	}

	& > .picture {
		margin-top: 10px;
		border: 5px solid #333;
		box-sizing: border-box;
		width: 100%;
		height: 150px;

		& img {
			max-width: 100%;
		}
	}

	& .dd-area {
		height: 100px;
		margin-top: 10px;
		border-radius: 5px;
		border-width: 5px;
		border-style: dashed;
		border-color: #333;
		transition: border-style .5s ease-in-out;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #2d2d2d;
		color: #cacaca;
		cursor: pointer;
	}
}
