.menu-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70px;
	background-color: #e6e6e6;
	border-radius: 10px 10px 0 0;
	transition:
		height .5s ease-in-out,
		transform .5s ease-in-out;
    box-shadow: 0 -3px 5px #bdbdbd;

	& > .intro {
		display: flex;
		flex-grow: 0;
		flex-shrink: 0;
		justify-content: space-between;
		align-items: baseline;
		padding: 0 5px;

		& > h3 {
			font-weight: 300;
			color: #333;
		}
	}

	&:not(.open) > .panels-list {
		display: none;
	}

	& > .panels-list {
		flex-grow: 1;
	}

	&.open {
		@menuOpenDistancing: 10px;
		height: 500px;
		transform: translateY(@menuOpenDistancing);
		margin-bottom: @menuOpenDistancing+2px;
	}

	&:last-child {
		border-bottom: 2px solid rgb(214, 214, 214);
	}
}
