@footer-picture-row-height: 18px;
@footer-picture-row-margins: 10px 0 5px 0;

.footer {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	flex-grow: 1;

	& > div.grid {
		display: grid;
		width: 100%;
		row-gap: 5px;
		grid-template-columns: 25px 1fr 25px;
		grid-template-rows: 20px 1fr;
		position: absolute;

		& > .icon {
			grid-column: ~"1 / 2";
			grid-row: ~"2 / 3";

			background-color: #cecece;
			width: 15px;
			height: 15px;

			margin-left: 5px;
			margin-bottom: -5px;

			align-self: flex-end;
			border-radius: 4px;
			cursor: pointer;

			& > svg {
				& .cls-1 {
					fill: #5a5a5aa6
				}

				& .cls-2 {
					fill: none;
					stroke: #5a5a5aa6;
					stroke-width: .2px
				}
			}

			& > img {
				border-radius: 4px;
			}
		}
	}

	& .empty-field {
		width: 100%;
		height: @footer-picture-row-height;
		flex-grow: 0;
		border-radius: 2px;

		grid-column: ~"2 / 3";
		grid-row: ~"1 / 2";
	}

	& .image-field {
		justify-self: center;
		align-self: center;

		display: flex;
		justify-content: center;

		grid-column: ~"2 / 3";
		grid-row: ~"1 / 2";

		/* For picture prop object-fit below */
		height: 100%;

		& > img {
			object-fit: scale-down;
		}
	}
}
