body {
	background-color: rgb(51,51,51);
	margin: 0;
	padding: 0;
	font-family: "SF Display";
	font-weight: 200;
}

#app {
	display: flex;
	width: 100%;
}

#root {
	display: flex;
    height: 100vh;
	align-items: center;
}

@font-face {
	font-family: "SF Display";
	font-weight: 100;
	src: url(../../assets/SF-Pro-Display-Thin.otf);
}

@font-face {
	font-family: "SF Display";
	font-weight: 200;
	src: url(../../assets/SF-Pro-Display-Light.otf);
}

@font-face {
	font-family: "SF Display";
	font-weight: 300;
	src: url(../../assets/SF-Pro-Display-Regular.otf);
}

@font-face {
	font-family: "SF Display";
	font-weight: 400;
	src: url(../../assets/SF-Pro-Display-Medium.otf);
}
