@clips-offset: 10px;
@clips: 2;
@grid-gap: 10px;
@placeholder-color: #5c5c5c;

.collection-view {
	// Animation

 	& .fade-enter {
		opacity: 0;

		&.fade-enter-active {
			opacity: 1;
			transition: opacity .3s ease-in;
		}
	}

	& .fade-exit {
		opacity: 1;

		&.fade-exit-active {
			opacity: 0;
			transition: opacity .3s ease-in;
		}
	}

	// Children (Robert Miles, R.i.p.)

	& .collection {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& .preview {
			position: relative;
			width: 130px + @clips-offset * @clips;
			height: 120px;
			cursor: pointer;

			& .clipper {
				.clipper-shifter(@clips + 1);

				position: absolute;
				width: 130px;
				height: 100px;
				overflow: hidden;
			}

			& .empty-slot {
				border: 1px dashed @placeholder-color;
				border-radius: 2px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;

				& span.fade-blink {
					opacity: 1;
					animation-name: fade-blinking;
					animation-duration: 1s;
					animation-timing-function: ease-in-out;
					animation-direction: alternate-reverse;
					animation-iteration-count: infinite;
				}
			}

			@keyframes fade-blinking {
				to { opacity: 0; }
			}
		}

		& span {
			margin-top: 10px;
			min-height: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			align-self: normal;

			& svg {
				width: 15px;
				height: 15px;
				opacity: 0;
				transition: opacity .3s ease-in-out;
				fill: #e6e6e6;
				cursor: pointer;
			}
		}

		&:hover span svg {
			opacity: 1;
		}

		& .add-element-btn {
			width: 130px + @clips-offset * @clips;
		}
	}
}

.clipper-shifter(@loops-amount; @counter: 0;) when (@counter <= @loops-amount) {
	@childN: @counter + 1;

	&:nth-child(@{childN}) {
		z-index: @loops-amount - @counter - 1;
		left: @clips-offset * @counter;
		bottom: @clips-offset * @counter;
	}

	.clipper-shifter(@loops-amount, @counter + 1);
}
