@import "../../../../../App/common.less";

.panel.fields {
	color: #FFF;
	display: flex;
	justify-content: space-between;
	height: 55px;

	div.cta-edit {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		.col-left {
			display: flex;
			flex-direction: column;
		}

		em {
			font-size: 15px;
		}

		& svg {
			width: 22px;
			margin-left: 5px;
			fill: #e6e6e6;
		}
	}
}

/** Page styles for this panel **/

.panel-navigator > .page > .fields-page {
	padding: 5px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	color: #e6e6e6;
	opacity: 0.3;
	transform: scale(0.95);
	animation: appear .5s ease-in-out .1s forwards;
	/* To scroll flexbox along with its props */
	overflow: auto;
	position: relative;

	& > header {
		display: flex;
		justify-content: space-between;
		flex-shrink: 0;
		flex-grow: 0;
		height: 50px;
		align-items: center;
		border-bottom: 1px solid rgb(47, 47, 47);
		margin-bottom: 10px;

		& .back {
			display: flex;
			align-items: center;
			cursor: pointer;

			& svg {
				&#back {
					width: 22px;
					transform: rotate(180deg);
					fill: #e6e6e6;
					margin-right: 5px;
				}
			}
		}

		& h4 {
			font-weight: inherit;
			margin: 0;
			// "Ignoring" the "back" text and centering a little bit more
			margin-right: 25px;
		}
	}

	& .fields {
		.scrollableWithoutScrollbars(y);
		display: flex;
		flex-grow: 1;
		flex-direction: column;

		& .placeholder {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: center;
			justify-content: center;

			& p {
				font-size: 13px;
				margin: 0;
				// Yeah, gray as f**k :D
				color: #afafaf;
			}

			& svg.icon {
				font-size: 30pt;
				margin-bottom: 10px;

				& > text {
					fill: none;
					stroke: #5d5d5d;
					stroke-width: 0.4px;
					stroke-linecap: round;
					stroke-linejoin: round;
					animation: neonText 7s step-end 1s forwards infinite;
				}
			}
		}

		& .field-edit-item {
			display: flex;
			flex-direction: column;
			height: 300px;
			border-bottom: 1px solid #333;
			position: relative;
			/* To allow scrolling */
			flex-shrink: 0;

			& > .field-properties-list {
				display: flex;
				flex-direction: column;
				width: 100%;
			}

			& > div:first-child {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-bottom: 15px;
				cursor: pointer;

				& > svg {
					margin-right: 5px;
					width: 22px;
				}
			}

			& > .field-new-property-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				padding: 5px;
				border-bottom: 1px solid #333;
				position: absolute;
				background-color: #282828;
				top: 38px;
				right: 0;
				left: 0;
				box-shadow: 0 3px 4px 0px #000;
				transition: opacity .3s ease-in-out, transform .3s ease-in-out;

				&.hidden {
					opacity: 0;
					transform: scale(0.95);
					z-index: -1;
				}

				&::before {
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 13px 13px 13px;
					border-color: transparent transparent #282828 transparent;
					position: absolute;
					top: -13px;
					right: 33px;
				}

				& > .field-property {
					font-size: 10pt;
					border: 1px solid #3a3a3a;
					background-color: #353535;
					border-radius: 5px;
					padding: 2px 8px;
					margin: 2px;
					cursor: pointer;
				}
			}
		}
	}

	& .more-items-indicator {
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		opacity: 0;
		transition: .3s ease-in-out;

		& svg {
			height: 20px;
			width: 50px;

			& circle {
				fill: #FFF;
			}
		}
	}
}

svg.add {
	width: 28px;
	fill: #333333;
	cursor: pointer;

	&:active path:first-child {
		fill: #252525;
	}

	& path:nth-child(2) {
		fill: #e6e6e6;
	}
}

@keyframes appear {
	from {
		transform: scale(0.95);
		opacity: 0.3;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes neonText {
	0% { stroke: #e6e6e6; }
	10% { stroke: #5d5d5d; }
	13% { stroke: #e6e6e6; }

	20% { stroke: #5d5d5d; }
	22% { stroke: #e6e6e6; }
	24% { stroke: #5d5d5d; }
	26% { stroke: #e6e6e6; }
	35% { stroke: #5d5d5d; }

	50% { stroke: #e6e6e6; }
	52% { stroke: #5d5d5d; }
	54% { stroke: #e6e6e6; }
	56% { stroke: #5d5d5d; }
	65% { stroke: #e6e6e6; }
	70% { stroke: #5d5d5d; }

	75% { stroke: #e6e6e6; }
	90% { stroke: #5d5d5d; }
}
