@import "../../../../../App/common.less";

.panel.fields {
	color: #FFF;
	display: flex;
	justify-content: space-between;
	height: 55px;

	div.cta-edit {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		.col-left {
			display: flex;
			flex-direction: column;
		}

		em {
			font-size: 15px;
		}

		& svg {
			width: 22px;
			margin-left: 5px;
			fill: #e6e6e6;
		}
	}
}

/** Page styles for this panel **/

.panel-navigator > .page > .fields-page {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	color: #e6e6e6;
	opacity: 0.3;
	transform: scale(0.95);
	animation: appear .5s ease-in-out .1s forwards;
	/* To scroll flexbox along with its props */
	overflow: auto;
	position: relative;

	& > header {
		display: flex;
		justify-content: space-between;
		flex-shrink: 0;
		flex-grow: 0;
		height: 50px;
		align-items: center;
		border-bottom: 1px solid rgb(47, 47, 47);
		margin-bottom: 10px;
		padding: 5px 5px 0 5px;

		& .back {
			display: flex;
			align-items: center;
			cursor: pointer;

			& svg {
				&#back {
					width: 22px;
					transform: rotate(180deg);
					fill: #e6e6e6;
					margin-right: 5px;
				}
			}
		}

		& h4 {
			font-weight: inherit;
			margin: 0;
			// "Ignoring" the "back" text and centering a little bit more
			margin-right: 25px;
		}
	}

	& .fields {
		.scrollableWithoutScrollbars(y);
		display: flex;
		flex-grow: 1;
		flex-direction: column;

		& .field-edit-item {
			display: flex;
			flex-direction: column;
			position: relative;
			height: 300px;
			padding: 5px;
			/* To allow scrolling */
			flex-shrink: 0;

			&:only-child {
				border-bottom: 1px solid #333;
			}

			&:nth-child(2n) {
				background-color: #272727;
			}

			& > .field-properties-list {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				width: 100%;
				.scrollableWithoutScrollbars(y);
			}

			& > .field-options-row {
				display: flex;
				justify-content: space-between;
				margin-bottom: 15px;
				padding: 0 5px;

				& > * {
					display: flex;
					align-items: center;
					cursor: pointer;
				}

				& > .field-order-handler {
					& svg {
						width: 15px;
						fill: #e6e6e6;
						margin: 0 10px;

						&.disabled {
							pointer-events: none;
							fill: #333333;
						}

						&:nth-child(1) {
							transform: rotate(-90deg);
						}

						&:nth-child(2) {
							transform: rotate(90deg);
						}
					}
				}

				& svg {
					width: 25px;

					&.danger {
						fill: #ff6363;
						width: 22px;
					}
				}
			}

			& > .field-prop-choice-overlay {
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
				overflow-y: hidden;
				z-index: 1;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;

				&.hidden {
					z-index: -1;
					transition: z-index 0s linear .3s;

					&::before {
						opacity: 0;
					}

					& > .field-new-property-list {
						bottom: -50%;
					}
				}

				&::before {
					content: "";
					cursor: pointer;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: rgba(0,0,0,0.4);
					z-index: -1;
					opacity: 1;
					transition: opacity .3s ease-in-out;
				}

				& > .field-new-property-list {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-content: center;
					background-color: #282828;
					height: -moz-fit-content;
					height: fit-content;
					box-sizing: border-box;
					padding: 6px;
					transition: bottom .3s ease-in-out;
					border-radius: 5px 5px 0 0;
					position: relative;
					bottom: 0;

					& > .field-property {
						font-size: 10pt;
						border: 1px solid #3a3a3a;
						background-color: #353535;
						border-radius: 5px;
						padding: 5px 8px;
						margin: 2px;
						cursor: pointer;
					}
				}
			}
		}
	}

	& .more-items-indicator {
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		opacity: 0;
		transition: .3s ease-in-out;
		pointer-events: none;

		& svg {
			height: 20px;
			width: 50px;

			& circle {
				fill: #FFF;
			}
		}
	}
}

svg.add {
	width: 28px;
	fill: #333333;
	cursor: pointer;

	&:active path:first-child {
		fill: #252525;
	}

	& path:nth-child(2) {
		fill: #e6e6e6;
	}
}

@keyframes appear {
	from {
		transform: scale(0.95);
		opacity: 0.3;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}
