
.pass {
	border-radius: 7px;
	width: 100%;

	/**
	 * Actually these sizes have been took
	 * from a resized model of Apple Wallet pass
	 * found somewhere on the web
	**/

	max-width: 230px;
	height: 369.59px;

	position: relative;
	transition: box-shadow .5s;
	overflow: hidden; /* for background */

	&:hover {
		box-shadow: 0px 3px 10px #000;
	}

	&:not(:last-child) {
		margin-right: 30px;
	}

	& > .content {
		width: 100%;
		height: 100%;
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	/** Background Image **/

	&::after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		z-index: -1;
		bottom: 0;
		background: var(--pass-background);
		background-size: cover;
		background-position: bottom center;
	}

	&.bg-image::after {
		filter: blur(6px);
	}
}
